*{
	margin: 0;
	padding: 0;

}

.img{
	height: 100% ;
	width:100% ;
	position: relative;
}

html{
	background-color: #bbedea;
	overflow-x: hidden;

	
}
.text1{
	margin-left:100px;
	margin-right:100px;
	font-size: 15px;
	font-family: arial black;
	position:relative;
}
.menu{
	background-color:#8F3DB0;
	height: auto;
	width: 100%
	padding-top:10px;
	z-index: 9999;
	text-align: center;
	border: 10px solid #8F3DB0;
	position: sticky;
	top: 0px;
	overflow: auto;
	overflow:  hidden;
}

ul li{
    display: inline; 
    margin:10px;	
   }

ul{	
   	width:85%;
   	margin:0 auto;
   	margin-top:10px;

  }
li{
	font-size:21px;
	margin-top:20px;
	padding:10px ;
	font-family: ARIAL BLACK;
	transition: 0.5s;


	
}
html{
	background-color: #2E9AFE;
	font-family: ARIAL BLACK;

	
}
li:hover{
	color:white;
	background-color:black;
	transform: scale(1.1);
}
.r{
	font-family: ARIAL BLACK;
}
.img{
	width: 100%;
	height:100%; 
}
.footer{
	height:200px;
	background-color:#685271;
}
.content{
	height: 1200px;
	background-color:#C597CD;
}
a{
	color:black;
	text-decoration: none;
}
a:visited{
	color:black;
	text-decoration: none;
}
a:hover{
	color:white;
	text-decoration: none;
}
.buttonup{
	display:block;
	height: 70px;
	position: fixed;
	left:100%;
	top:500px;
	z-index: 999;
	position: sticky;
	bottom:  0px;
}

.friz{
	position: relative;
	bottom:150px;
	height: 300px;
	float:right;
	border:3px solid #58D3F7;
	top:10px;
}

iframe{
	margin:0 auto;
	float:left;
	margin-left:150px;
}
h2 {
	position: absolute;
	top	: 350px;
	width: 100%;
	font-size: 80px;
	color:#9532BD;
	background: #D09EE4;

}
.link{

}
table {
border-spacing: 0;
empty-cells: hide;
}

td {
padding: 10px 20px;
text-align: center;
border-bottom: 1px solid #F4EEE8;
transition: all 0.5s linear;
margin:30px;
}

td:first-child {
text-align: left;
color: #3D3511;
font-weight: bold;
}

th {
padding: 10px 20px;
color: #DCBFE7;
border-bottom: 1px solid #DCBFE7;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
margin:30px;
}

td:nth-child(even) {
background: #DCBFE7;
}

td:nth-child(odd) {
background: #9950B4;
}

th:nth-child(even)  {
background: #F6D27E;
}

th:nth-child(odd)  {
background: #D1C7BF;
}

.round-top {
border-top-left-radius: 5px;
}

.round-bottom {
border-bottom-left-radius: 5px;
}

tr:hover td{
background: #BB2BF0;
font-weight: bold;
}